main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container-whoIam{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px; 
/*  border: yellowgreen 2px solid; */
}

.main-items-whoIam{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto; 
  flex: 1;
}

.my-description{
  flex: 0;
}

.my-photo{
  width: 80%;
  margin: 0 auto;
}

.my-photo img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%; 
  border: black 5px solid;
}

.main-container-mySkills{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px; 
 /* border: blue 2px solid; */
}

.main-items-mySkills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.skills-scheme{
  border: violet 2px solid;
  height: auto;
  align-items: center;
  align-content: center;
  font-size: 60px;
  width: 100%;
}
 
.main-items-mySkills a {
  color: inherit;
}

.title{
  text-align: center;
  align-content: center;
  height: auto;
  padding-top: 10px;
  padding-bottom: 5px;
  flex: 0;
  width: 80%;
  border-bottom: dashed white 2px;    
}

.list{
  width: 100%;
  margin-top: 10px;
}

.list ul{
  list-style-type: none;
  padding-left: 0;
}

.list li{
  margin-bottom: 25px;
}

.list li p {
  text-align: center;
  margin: 5px 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
 
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    
} 

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
  .main-container-mySkills, 
  .main-container-whoIam, 
  .main-container-experiences{
    width: 50%;
  }

  .main-container-mySkills{
    padding-left: 30px;
  }

  .main-container-whoIam{
    border-right: 2px white dotted;
    padding-right: 30px;
  }

  
}