* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}


html, body{
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
 
}

.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-size: 30px;
  padding-top: 5px;   
  padding-bottom: 5px; 
  font-style: italic;
}

h2{
  font-size: 25px;
  padding-top: 5px;    
  padding-bottom: 5px;
  font-style: italic;
}

h3{
  font-size: 20px;
  padding-top: 5px;    
  padding-bottom: 5px;
  font-style: italic;
}

p{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: justify;
}



header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: black solid 2px;
    position: fixed;
    background-color: white;
    z-index: 100;
  }
  .header-items{
    display: flex;
    height: 30px;
    align-items: center;
    font-size: 13px;
    max-width: 33,3%;
  }

  .logo{
    justify-content: center;
    flex: 1;
    width: 100%;
  }

  .logo-items{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  .logo img{
    height:100%;
   
  }

  .social-links{
    justify-content: center;
    height: 20px;
    width: 33,3%;
    flex: 1;
    gap: 1%;
    
  }

  .social-link-items{
    width: 33,3%;
    height: 100%;
  }

  .social-link-items img{
    height: 100%;
  }


  .menu{
    display: flex;
    justify-content: space-around;
    flex: 2;
    margin: 5%;
   
  }

  .menu a {
  display: flex;
  align-items: center;
  height: 100%; 
  text-decoration: none; 
  color: inherit;
}

/*header end*/

/*main start*/
main{
  margin-top: 40px;
  width: 100%;
  flex: 1; 
  background: linear-gradient(to bottom,rgb(10, 10, 191),black);
  color: white;
  padding-left: 7%;    
  padding-right: 7%;   
  padding-bottom: 30px;
}

.title{
  display: flex;
  align-content: center; 
  justify-content: center;
  text-align: center;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 0;
  width: 80%;
  border-bottom: dashed white 3px;   
}




/*footer start*/
footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: black solid 2px; 
  
  }
  .footer-items{
    height: 20px;
    font-size: 15px;
    align-content: center;
  }


/* Mobile Styles */
@media only screen and (max-width: 400px) {
 
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  h1, h2{
    font-size: 45px;
    padding-top: 5px;    
    padding-bottom: 5px; 
  }

  h3{
    font-size: 25px;
    padding-top: 5px;    
    padding-bottom: 5px;
  }
  
  p{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: justify;
  }



  header{
    height: 50px;
    border-bottom: black solid 4px;
  }

  .header-items{
    height: 35px;
    font-size: 15px;
  }
  
  .social-links{
    height: 20px;
  }

  main{
    margin-top: 50px;
  }

  footer{
    height: 50px;
    border-top: black solid 4px;
    
  }

  .footer-items{
    height: 35px;
    font-size: 15px ;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  h1, h2{
    font-size: 50px;
    padding-top: 5px;    
    padding-bottom: 5px; 
  }
  
  h3{
    font-size: 35px;
    padding-top: 5px;    
    padding-bottom: 5px;
  }
  
  
  p{
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: justify;
  }

  .page {
    width: 960px;
    margin: 0 auto;
  }

  header{
    height: 80px;
    width: 960px;   /*risolvere problema largezza header*/
    border-bottom: black solid 4px;
     
  }

  .header-items{
    height: 55px;
    font-size: 25px;

  }

  .social-links{
    height: 30px;
  }

  main{
    margin-top: 80px; 
    padding-left: 30px;    
    padding-right: 30px;  
  }

  footer{
    height: 80px;
    border-top: black solid 4px;
  }

  .footer-items{
    height: 55px;
    font-size: 25px;

  }
 
    
}




