* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

html, body{
  height: 100%;
}

main{
    background-color: rgb(255, 255, 255);
    height: 100vh;  
    font-size: 16px; 
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.form-container{
    margin-top: 80px;
    text-align: center;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
   
}

.form-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.form-container p{
    Font-size: 25px;    
    margin-bottom: 5px;
}

.contact-form {
    display: flex;
    justify-content:center; 
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    width: 80%;
    padding: 10px;
    margin: 0 0 40px 0;

    
  }

  .form-row {
    font-family: Arial, Helvetica, sans-serif;     /* inserire il giusto font*/
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type='text']
  .form-row input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 15px;
  }
  
  .form-row input[type='text']:invalid,
  .form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
     color: #D55C5F;
    box-shadow: none; 
  }

  .form-row textarea {
    font-size: 14px;
  
    border: 1px solid #D6D9DC;
    border-radius: 3px;
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #000000;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }
  

  

  /* Mobile Styles */
  @media only screen and (max-width: 400px) {

  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
  }