* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }

  html, body{
    height: 100%;
  }

  .page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/*header start*/
  header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: black solid 4px;

  }
  .header-items{
    display: flex;
    height: 30px;
    justify-content: space-around;
    border: black solid 1px;
    align-items: center;
    font-size: 15px;

  }
  .logo{
    align-items: center;
    justify-content: center;
  }
  .logo img{
    width:100%;
    height: 100%;
    object-fit:cover;
  }
  .social-links{
    align-items: center;
    gap: 1%;
  }
  .social-links img{
    width:33,3%;
    height: 100%;
    object-fit: cover;
  }

  .menu{
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  
/*header end*/


/*main start*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex:1;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: scroll;
    
  }

  .main-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: white solid 1px; */
    margin-left: 2%;
    margin-right: 2%;
    width: 90%; 
    color: white;
    
  }

  .title{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    align-content: center;
    /*risolvere problema titolo che prende troppo spazio in altezza su alcuni dispositivi*/
    
  }

  .my-description{
    font-size: 12px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
    
  .personal-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 40px; /*aggiornare i nuovi valori nelle media queri*/
    width: 90%;
    /*transform: rotate(-18deg);
    transform-origin: center;*/
    /* come fare a far venire l' immagine quadrata e quindi poi farla rotonda con il radius
       creare la sfumatura al posto del nero così*/
   
}

.personal-picture img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
    border-radius: 40px; /*aggiornare i nuovi valori nelle media queri*/
}

/*main end*/

/*footer start*/
footer{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-top: black solid 2px; /*mettere 4px su ipad e desktop*/

}
.footer-items{
  height: 20px;
  /*border: black solid 1px; */
  font-size: 15px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
 
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  header{
    height: 60px;
  
  }

  footer{
    height: 60px;
  }

  .header-items{
    height: 35px;
  }

  .main-items h1{
    font-size: 45px;
    padding-top: 22px;
    padding-bottom: 22px;
    
  }

  .main-items p{
    font-size: 20px;
    
  }  
    
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  header{
    height: 80px;
  
  }

  footer{
    height: 80px;
  }

  .header-items{
    height: 55px;
  }

 /* .main-items{
    width: 50%; 

  } */

  .main-items h1{
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }

  .main-items p{
    font-size: 25px;
    
  } 
    
}