
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
  }

  .main-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .my-description{
    padding-top: 10px;
    padding-bottom: 10px;
  }
    
  .personal-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.personal-picture img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
    border-radius: 300px;
    border: black solid 5px;
}

.skills-bar{
  margin-top: 20px;   /*fare resp*/
  border: rgb(221, 124, 140) solid 1px;  
  width: 100%;
  display: grid;
  place-items: center;

}

.row{
  width: 100%;  /*sistemare resp design su tablet*/
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10%;
  border: yellow solid 1px;

}

.col{margin: 10px;
  border: green solid 1px;
}

.row .col .skill{
  width: 120px;
  height: 120px;
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5), -5px -5px 15px rgba(0,0,0,0.5);
 
}

.row .col:nth-child(1) .skill{
  background: conic-gradient(#4b4bff 90%, transparent 0); /*sistemare colore corretro con convertitore rbg*/
}

.row .col:nth-child(2) .skill{
  background: conic-gradient(#4b4bff 70%, transparent 0);
}

.row .col:nth-child(3) .skill{
  background: conic-gradient(#4b4bff 30%, transparent 0);
}

.row .col .skill::before{
 content: "";
 position: absolute;
 width: 85%;
 height: 85%;
 background-color: black;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 box-shadow: 5px 5px 15px rgba(0,0,0,0.5) inset, -5px -5px 15px rgba(0,0,0,0.5) inset;
}

.row .col .skill .content{
  color:#4b4bff;
  position: absolute;
  text-align: center;
  user-select: none;
}

.row .col .skill .content span{
  display: block;
  padding: 5px 0;
  letter-spacing: 2px;
}





/*main end*/



/* Mobile Styles */
@media only screen and (max-width: 400px) {
 
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .personal-picture {
    width: 80%;
  }

  .skills-bar{
    width: 100%;
  }
  
  .row .col .skill{
    width: 150px;
    height: 150px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .main-items{
    width: 50%;
  }

  .title{
    margin-bottom: 5%;
  }

  .personal-picture {
    
    padding-left: 20px;
  }

  .personal-picture img {
    width: 80%;
  }

  .my-description{
    padding-right: 20px;
    padding-left: 30px;
  }

  .skills-bar{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .row{
    width: 860px;
  }

  .row .col .skill{
    width: 150px;
    height: 150px;
  }

    
}