* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body{
  height: 100%;
}

.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    margin-top: 40px;
    flex: 1;
}

.page-title {
  display: flex;  
  align-items: center; 
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  border-bottom: 2px black dotted;
}

.all-works {
  /*border: rgb(255, 0, 0) 3px solid;*/
  display: flex;
  flex-direction: column;
  flex:1;

}

.school-works{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding-bottom: 25px;
}

.name-school-works{
 /* border: black solid 1px; */
  display: flex;  
  align-items: center; 
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  background-color: aquamarine;
}

.autodidatta{
  border-top: 2px solid blue;
}

.works-grid{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px; 
  padding-left: 10px;
  padding-right: 10px;
}

.works-grid-item{
 display: flex;
 flex-direction:column;
 justify-content: center;
 align-items: center;
 border: black 1px solid;
 width: 100%;
 aspect-ratio: 1/1;
 margin: 10px;
 

}

.item-image-box{
  display: flex;
  align-items: center;
  height: 70%;
  width: 70%;

  flex: 1;
  padding: 5%;
}

.item-title-box{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}

.works-grid-item img{
  max-width: 100%;
  max-height: 100%;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    h1{
      font-size: 30px;
    }

    h2{
      font-size: 25px;
    }
    
    h3{
      font-size: 22px;
    }

    main{
      margin-top: 50px;
    }

    .works-grid-item{
      width: 42%;
    }

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }

    h1{
      font-size: 40px;
    }

    h2{
      font-size: 30px;
    }
    
    h3{
      font-size: 25px;
    }

    main{
      margin-top: 80px;
    }

    .works-grid-item{
      width: 30%;
    }
  }