* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body{
  height: 100%;
}

.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    margin-top: 40px;
    flex: 1;
}

.page-title {
  display: flex;  
  align-items: center; 
  justify-content: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  border-bottom: 2px black dotted;
}

.all-works {
  /*border: rgb(255, 0, 0) 3px solid;*/
  display: flex;
  flex-direction: column;
  flex:1;

}

.school-works{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
 /* border: rgb(137, 135, 9) solid 2px; */
  
}

.name-school-works{
 /* border: black solid 1px; */
  display: flex;  
  align-items: center; 
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;

  height: auto;
  background-color: aquamarine;
  

}

.works-grid{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 255, 0.192);
  

 
}

.works-grid-item{
 display: flex;
 justify-content: center;
 align-items: center;
 border: black 1px solid;
 width: 90%;
 height: 300px;
 margin: 5px;

}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {

    .works-grid-item{
      width: 45%;
    }

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }

    main{
      margin-top: 80px;
    }

    .works-grid-item{
      width: 30%;
    }
  }