* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

html, body{
  height: 100%;
}

.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main{
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 169, 169);
    height: 100%;
}

.page-title {
  border: black solid 1px;
  display: flex;  
}

.all-works {
  border: yellow 2px solid;

  display: flex;
  flex-direction: column;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
  }