* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }

  .page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  }

/*header start*/
  header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: silver;

  }
  .header-items{
    height: 25px;
    justify-content: space-around;
    border: white solid 1px;
    align-items: center;
    font-size: small;

  }
  .logo{
    align-items: center;
  }
  .logo img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
  .social-links{
    align-items: center;
  }
  .social-links img{
    width:33,3%;
    height: 100%;
    object-fit: cover;
  }

  .menu{
    align-items: center;
  }

  
/*header end*/


/*main start*/
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex:1;
    background-color: rgb(222, 252, 161);
    
  }

  .main-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black solid 1px;
    margin-top: 1%;
    margin-bottom: 1%;  
    margin-left: 2%;
    margin-right: 2%;
    width: 90%; 
  }

  .main-items h1{
    font-size: 20px;
    text-align: center;
    border: black solid 2px;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }



    
  .personal-picture {
    height: 80%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-picture img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
    border-radius: 40px;
}
  

/*main end*/

/*footer start*/
footer{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: silver;

}
.footer-items{
  height: 25px;
  justify-content: space-around;
  border: white solid 1px;
  align-items: center;
  font-size: small;

}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
 
  
  
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  
  
    
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .header{
    height: 80px;
  
  }

    
  
}